<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sto.mapper.two.BaseOrganizeArea2Mapper" >
  <resultMap id="BaseResultMap" type="com.sto.entity.BaseOrganizeArea" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="business_district" property="businessDistrict" jdbcType="VARCHAR" />
    <result column="place_name" property="placeName" jdbcType="VARCHAR" />
    <result column="road_name" property="roadName" jdbcType="VARCHAR" />
    <result column="odd_or_even" property="oddOrEven" jdbcType="INTEGER" />
    <result column="min_road" property="minRoad" jdbcType="INTEGER" />
    <result column="max_road" property="maxRoad" jdbcType="INTEGER" />
    <result column="company_code" property="companyCode" jdbcType="VARCHAR" />
    <result column="user_code" property="userCode" jdbcType="VARCHAR" />
    <result column="create_on" property="createOn" jdbcType="DATE" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="modified_on" property="modifiedOn" jdbcType="DATE" />
    <result column="modified_user_id" property="modifiedUserId" jdbcType="VARCHAR" />
    <result column="modified_by" property="modifiedBy" jdbcType="VARCHAR" />
    <result column="enabled" property="enabled" jdbcType="INTEGER" />
    <result column="deletion_state_code" property="deletionStateCode" jdbcType="INTEGER" />
    <result column="audit_status" property="auditStatus" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="sort_code" property="sortCode" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="RoadResultMap" type="java.util.HashMap">
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="road_name" property="roadName" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="ExpressResultMap" type="com.sto.entity.BaseUserExpressEntity">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="IS_CHECK_BALANCE" jdbcType="INTEGER" property="isCheckBalance" />
    <result column="TRANSFER_ADD_FEE" jdbcType="INTEGER" property="transferAddFee" />
    <result column="OWNER_ID" jdbcType="VARCHAR" property="ownerId" />
    <result column="OWNER_RANGE" jdbcType="VARCHAR" property="ownerRange" />
    <result column="DISPATCH_ADD_FEE" jdbcType="INTEGER" property="dispatchAddFee" />
    <result column="RECEIVE_AREA" jdbcType="VARCHAR" property="receiveArea" />
    <result column="MODIFIED_USER_ID" jdbcType="VARCHAR" property="modifiedUserId" />
    <result column="MODIFIED_BY" jdbcType="VARCHAR" property="modifiedBy" />
    <result column="MODIFIED_ON" jdbcType="TIMESTAMP" property="modifiedOn" />
    <result column="CREATE_USER_ID" jdbcType="VARCHAR" property="createUserId" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_ON" jdbcType="TIMESTAMP" property="createOn" />
    <result column="WEB_ENABLED" jdbcType="INTEGER" property="webEnabled" />
    <result column="DISP_AREA" jdbcType="VARCHAR" property="dispArea" />
    <result column="LONGITUDE" jdbcType="VARCHAR" property="longitude" />
    <result column="LATITUDE" jdbcType="VARCHAR" property="latitude" />
    <result column="SAN_DUAN_MA" jdbcType="VARCHAR" property="sanDuanMa" />
    <result column="IS_RECEIVE" jdbcType="INTEGER" property="isReceive" />
    <result column="IS_DISP" jdbcType="INTEGER" property="isDisp" />
    <result column="COMPANY_ID" jdbcType="VARCHAR" property="companyId" />
    <result column="NETWORK_ORDERS" jdbcType="VARCHAR" property="networkOrders" />
    <result column="ORDER_ASSIGN_TO" jdbcType="VARCHAR" property="orderAssignTo" />
    <result column="COOPERATE_FUNCTION" jdbcType="VARCHAR" property="cooperateFunction" />
  </resultMap>
  <sql id="Express_Column_List">
    ID, IS_CHECK_BALANCE, TRANSFER_ADD_FEE, OWNER_ID, OWNER_RANGE, DISPATCH_ADD_FEE,
    RECEIVE_AREA, MODIFIED_USER_ID, MODIFIED_BY, MODIFIED_ON, CREATE_USER_ID, CREATE_BY,
    CREATE_ON, WEB_ENABLED, DISP_AREA, LONGITUDE, LATITUDE, SAN_DUAN_MA, IS_RECEIVE,
    IS_DISP, COMPANY_ID, NETWORK_ORDERS, ORDER_ASSIGN_TO, COOPERATE_FUNCTION
  </sql>
  <!-- <sql id="Express_Column_List" >
      id, company_id, is_check_balance, transfer_add_fee, owner_id, owner_range, max_road, company_code,
      user_code, create_on, create_user_id, create_by, modified_on, modified_user_id, modified_by,
      enabled, deletion_state_code, audit_status, company_name, province, city, district,
      sort_code
    </sql>-->

  <sql id="Base_Column_List" >
    id, organize_from, place_name, road_name, odd_or_even, min_road, max_road, company_code,
    user_code, create_on, create_user_id, create_by, modified_on, modified_user_id, modified_by, 
    enabled, deletion_state_code, audit_status, company_name, province, city, district, 
    sort_code
  </sql>

  <sql id="Base_Where_List">
    <if test="businessDistrict != null  and businessDistrict != ''">
      and business_district = #{businessDistrict}
    </if>
    <if test="companyCode != null and companyCode != ''">
      and company_code = #{companyCode}
    </if>
  </sql>

  <select id="getListByPage" resultMap="BaseResultMap" parameterType="com.sto.param.AreaParam">
    select
    <include refid="Base_Column_List" />
    from base_organize_area
    where 1=1
    <include refid="Base_Where_List" />
    order by id desc
    limit #{beginLine} , #{pageSize}
  </select>
  <select id="getCount" resultType="Integer" parameterType="com.sto.param.AreaParam">
    select
    count(1)
    from base_organize_area
    where 1=1
    <include refid="Base_Where_List" />
  </select>

  <select id="getAll" resultMap="BaseResultMap"  >
    SELECT
    <include refid="Base_Column_List" />
    FROM base_organize_area
  </select>
  <select id="getRoadByProCity" resultMap="RoadResultMap"  >
    SELECT
    id,road_name
    FROM BASE_ORGANIZE_AREA
    WHERE
    province = #{pro, jdbcType=VARCHAR}
    AND city=#{city, jdbcType=VARCHAR}
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from base_organize_area
    where id = #{id,jdbcType=VARCHAR}
  </select>
 <select id="getAreaByroad" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from base_organize_area
    where road_name = #{roadName,jdbcType=VARCHAR}
  </select>

  <select id="getAreaListBycode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from base_organize_area
    where business_district = #{businessDistrict,jdbcType=VARCHAR}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from base_organize_area
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.sto.entity.BaseArea" >
    insert into base_organize_area (id, business_district, place_name, 
      road_name, odd_or_even, min_road, 
      max_road, company_code, user_code, 
      create_on, create_user_id, create_by, 
      modified_on, modified_user_id, modified_by, 
      enabled, deletion_state_code, audit_status, 
      company_name, province, city, 
      district, sort_code)
    values (#{id,jdbcType=VARCHAR}, #{businessDistrict,jdbcType=VARCHAR}, #{placeName,jdbcType=VARCHAR}, 
      #{roadName,jdbcType=VARCHAR}, #{oddOrEven,jdbcType=INTEGER}, #{minRoad,jdbcType=INTEGER}, 
      #{maxRoad,jdbcType=INTEGER}, #{companyCode,jdbcType=VARCHAR}, #{userCode,jdbcType=VARCHAR}, 
      to_date(#{createOn,jdbcType=DATE},'YYYY-MM-DD HH24:MI:SS'), #{createUserId,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR},
      to_date(#{modifiedOn,jdbcType=DATE},'YYYY-MM-DD HH24:MI:SS'), #{modifiedUserId,jdbcType=VARCHAR}, #{modifiedBy,jdbcType=VARCHAR},
      #{enabled,jdbcType=INTEGER}, #{deletionStateCode,jdbcType=INTEGER}, #{auditStatus,jdbcType=VARCHAR}, 
      #{companyName,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{district,jdbcType=VARCHAR}, #{sortCode,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sto.entity.BaseOrganizeArea" >
    insert into base_organize_area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="businessDistrict != null" >
        business_district,
      </if>
      <if test="placeName != null" >
        place_name,
      </if>
      <if test="roadName != null" >
        road_name,
      </if>
      <if test="oddOrEven != null" >
        odd_or_even,
      </if>
      <if test="minRoad != null" >
        min_road,
      </if>
      <if test="maxRoad != null" >
        max_road,
      </if>
      <if test="companyCode != null" >
        company_code,
      </if>
      <if test="userCode != null" >
        user_code,
      </if>
      <if test="createOn != null" >
        create_on,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="modifiedOn != null" >
        modified_on,
      </if>
      <if test="modifiedUserId != null" >
        modified_user_id,
      </if>
      <if test="modifiedBy != null" >
        modified_by,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
      <if test="deletionStateCode != null" >
        deletion_state_code,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="district != null" >
        district,
      </if>
      <if test="sortCode != null" >
        sort_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="businessDistrict != null" >
        #{businessDistrict,jdbcType=VARCHAR},
      </if>
      <if test="placeName != null" >
        #{placeName,jdbcType=VARCHAR},
      </if>
      <if test="roadName != null" >
        #{roadName,jdbcType=VARCHAR},
      </if>
      <if test="oddOrEven != null" >
        #{oddOrEven,jdbcType=INTEGER},
      </if>
      <if test="minRoad != null" >
        #{minRoad,jdbcType=INTEGER},
      </if>
      <if test="maxRoad != null" >
        #{maxRoad,jdbcType=INTEGER},
      </if>
      <if test="companyCode != null" >
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null" >
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="createOn != null" >
        #{createOn,jdbcType=DATE},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedOn != null" >
        #{modifiedOn,jdbcType=DATE},
      </if>
      <if test="modifiedUserId != null" >
        #{modifiedUserId,jdbcType=VARCHAR},
      </if>
      <if test="modifiedBy != null" >
        #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=INTEGER},
      </if>
      <if test="deletionStateCode != null" >
        #{deletionStateCode,jdbcType=INTEGER},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="sortCode != null" >
        #{sortCode,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.sto.entity.BaseOrganizeArea" >
    update base_organize_area
    set business_district = #{businessDistrict,jdbcType=VARCHAR},
      place_name = #{placeName,jdbcType=VARCHAR},
      road_name = #{roadName,jdbcType=VARCHAR},
      odd_or_even = #{oddOrEven,jdbcType=INTEGER},
      min_road = #{minRoad,jdbcType=INTEGER},
      max_road = #{maxRoad,jdbcType=INTEGER},
      company_code = #{companyCode,jdbcType=VARCHAR},
      user_code = #{userCode,jdbcType=VARCHAR},
      create_on = #{createOn,jdbcType=DATE},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      modified_on = #{modifiedOn,jdbcType=DATE},
      modified_user_id = #{modifiedUserId,jdbcType=VARCHAR},
      modified_by = #{modifiedBy,jdbcType=VARCHAR},
      enabled = #{enabled,jdbcType=INTEGER},
      deletion_state_code = #{deletionStateCode,jdbcType=INTEGER},
      audit_status = #{auditStatus,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      sort_code = #{sortCode,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="getExpressAll" resultMap="ExpressResultMap"  >
    SELECT
    <include refid="Express_Column_List" />
    FROM BASE_USER_EXPRESS
  </select>
  <select id="selectExpressById" resultMap="ExpressResultMap" parameterType="java.lang.String" >
    select
    <include refid="Express_Column_List" />
    from BASE_USER_EXPRESS
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <!-- BASE_ORGANIZE -->
  <resultMap id="OrganizeResultMap" type="com.sto.entity.BaseOrganizeEntity">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="SHORT_NAME" jdbcType="VARCHAR" property="shortName" />
    <result column="FULL_NAME" jdbcType="VARCHAR" property="fullName" />
    <result column="STANDARD_NAME" jdbcType="VARCHAR" property="standardName" />
    <result column="STANDARD_CODE" jdbcType="VARCHAR" property="standardCode" />
    <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
    <result column="PARENT_NAME" jdbcType="VARCHAR" property="parentName" />
    <result column="PARENT_CODE" jdbcType="VARCHAR" property="parentCode" />
    <result column="COMPANY_ID" jdbcType="VARCHAR" property="companyId" />
    <result column="COMPANY_CODE" jdbcType="VARCHAR" property="companyCode" />
    <result column="COMPANY_NAME" jdbcType="VARCHAR" property="companyName" />
    <result column="COST_CENTER_ID" jdbcType="VARCHAR" property="costCenterId" />
    <result column="COST_CENTER_CODE" jdbcType="VARCHAR" property="costCenterCode" />
    <result column="COST_CENTER" jdbcType="VARCHAR" property="costCenter" />
    <result column="FINANCIAL_CENTER_ID" jdbcType="VARCHAR" property="financialCenterId" />
    <result column="FINANCIAL_CENTER_CODE" jdbcType="VARCHAR" property="financialCenterCode" />
    <result column="FINANCIAL_CENTER" jdbcType="VARCHAR" property="financialCenter" />
    <result column="PROVINCE_SITE_ID" jdbcType="VARCHAR" property="provinceSiteId" />
    <result column="PROVINCE_SITE_CODE" jdbcType="VARCHAR" property="provinceSiteCode" />
    <result column="PROVINCE_SITE" jdbcType="VARCHAR" property="provinceSite" />
    <result column="SORT_CODE" jdbcType="INTEGER" property="sortCode" />
    <result column="CATEGORY_CODE" jdbcType="VARCHAR" property="categoryCode" />
    <result column="LAYER" jdbcType="INTEGER" property="layer" />
    <result column="OUTER_PHONE" jdbcType="VARCHAR" property="outerPhone" />
    <result column="INNER_PHONE" jdbcType="VARCHAR" property="innerPhone" />
    <result column="FAX" jdbcType="VARCHAR" property="fax" />
    <result column="POSTAL_CODE" jdbcType="VARCHAR" property="postalCode" />
    <result column="WEB" jdbcType="VARCHAR" property="web" />
    <result column="IS_INNER_ORGANIZE" jdbcType="INTEGER" property="isInnerOrganize" />
    <result column="BANK" jdbcType="VARCHAR" property="bank" />
    <result column="BANK_ACCOUNT" jdbcType="VARCHAR" property="bankAccount" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="BIG_AREA" jdbcType="VARCHAR" property="bigArea" />
    <result column="AREA" jdbcType="VARCHAR" property="area" />
    <result column="JOINING_METHODS" jdbcType="VARCHAR" property="joiningMethods" />
    <result column="CONTAIN_CHILD_NODES" jdbcType="INTEGER" property="containChildNodes" />
    <result column="QUICK_QUERY" jdbcType="VARCHAR" property="quickQuery" />
    <result column="SIMPLE_SPELLING" jdbcType="VARCHAR" property="simpleSpelling" />
    <result column="PROVINCE_ID" jdbcType="VARCHAR" property="provinceId" />
    <result column="PROVINCE" jdbcType="VARCHAR" property="province" />
    <result column="CITY_ID" jdbcType="VARCHAR" property="cityId" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
    <result column="DISTRICT_ID" jdbcType="VARCHAR" property="districtId" />
    <result column="DISTRICT" jdbcType="VARCHAR" property="district" />
    <result column="STREET_ID" jdbcType="VARCHAR" property="streetId" />
    <result column="STREET" jdbcType="VARCHAR" property="street" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="STATISTICAL_NAME" jdbcType="VARCHAR" property="statisticalName" />
    <result column="MASTER_ID" jdbcType="VARCHAR" property="masterId" />
    <result column="MASTER" jdbcType="VARCHAR" property="master" />
    <result column="MASTER_MOBILE" jdbcType="VARCHAR" property="masterMobile" />
    <result column="MASTER_QQ" jdbcType="VARCHAR" property="masterQq" />
    <result column="EMERGENCY_CALL" jdbcType="VARCHAR" property="emergencyCall" />
    <result column="BUSINESS_PHONE" jdbcType="VARCHAR" property="businessPhone" />
    <result column="MANAGER" jdbcType="VARCHAR" property="manager" />
    <result column="MANAGER_MOBILE" jdbcType="VARCHAR" property="managerMobile" />
    <result column="MANAGER_QQ" jdbcType="VARCHAR" property="managerQq" />
    <result column="SERVICE_MANAGER" jdbcType="VARCHAR" property="serviceManager" />
    <result column="SERVICE_MANAGER_MOBILE" jdbcType="VARCHAR" property="serviceManagerMobile" />
    <result column="SERVICE_MANAGER_ID" jdbcType="VARCHAR" property="serviceManagerId" />
    <result column="COMPLAINT_PHONE" jdbcType="VARCHAR" property="complaintPhone" />
    <result column="MANAGE_ID" jdbcType="VARCHAR" property="manageId" />
    <result column="MANAGE_NAME" jdbcType="VARCHAR" property="manageName" />
    <result column="DELETION_STATE_CODE" jdbcType="INTEGER" property="deletionStateCode" />
    <result column="ENABLED" jdbcType="INTEGER" property="enabled" />
    <result column="CREATE_ON" jdbcType="TIMESTAMP" property="createOn" />
    <result column="CREATE_USER_ID" jdbcType="VARCHAR" property="createUserId" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="MODIFIED_ON" jdbcType="TIMESTAMP" property="modifiedOn" />
    <result column="MODIFIED_USER_ID" jdbcType="VARCHAR" property="modifiedUserId" />
    <result column="MODIFIED_BY" jdbcType="VARCHAR" property="modifiedBy" />
    <result column="SITE_TELEPHONE" jdbcType="VARCHAR" property="siteTelephone" />
    <result column="WEB_ENABLED" jdbcType="INTEGER" property="webEnabled" />
    <result column="MANAGER_PHONE" jdbcType="VARCHAR" property="managerPhone" />
    <result column="SERVICE_MANAGER_PHONE" jdbcType="VARCHAR" property="serviceManagerPhone" />
    <result column="SERVICE_MANAGER_QQ" jdbcType="VARCHAR" property="serviceManagerQq" />
    <result column="MASTER_PHONE" jdbcType="VARCHAR" property="masterPhone" />
    <result column="COUNTRY_ID" jdbcType="VARCHAR" property="countryId" />
    <result column="COUNTRY" jdbcType="VARCHAR" property="country" />
    <result column="ORGANIZE_FROM" jdbcType="VARCHAR" property="organizeFrom" />
    <result column="AUDIT_STATUS" jdbcType="VARCHAR" property="auditStatus" />
  </resultMap>
  <sql id="Organize_Column_List">
    ID, CODE, SHORT_NAME, FULL_NAME, STANDARD_NAME, STANDARD_CODE, PARENT_ID, PARENT_NAME,
    PARENT_CODE, COMPANY_ID, COMPANY_CODE, COMPANY_NAME, COST_CENTER_ID, COST_CENTER_CODE,
    COST_CENTER, FINANCIAL_CENTER_ID, FINANCIAL_CENTER_CODE, FINANCIAL_CENTER, PROVINCE_SITE_ID,
    PROVINCE_SITE_CODE, PROVINCE_SITE, SORT_CODE, CATEGORY_CODE, LAYER, OUTER_PHONE,
    INNER_PHONE, FAX, POSTAL_CODE, WEB, IS_INNER_ORGANIZE, BANK, BANK_ACCOUNT, DESCRIPTION,
    BIG_AREA, AREA, JOINING_METHODS, CONTAIN_CHILD_NODES, QUICK_QUERY, SIMPLE_SPELLING,
    PROVINCE_ID, PROVINCE, CITY_ID, CITY, DISTRICT_ID, DISTRICT, STREET_ID, STREET, ADDRESS,
    STATISTICAL_NAME, MASTER_ID, MASTER, MASTER_MOBILE, MASTER_QQ, EMERGENCY_CALL, BUSINESS_PHONE,
    MANAGER, MANAGER_MOBILE, MANAGER_QQ, SERVICE_MANAGER, SERVICE_MANAGER_MOBILE, SERVICE_MANAGER_ID,
    COMPLAINT_PHONE, MANAGE_ID, MANAGE_NAME, DELETION_STATE_CODE, ENABLED, CREATE_ON,
    CREATE_USER_ID, CREATE_BY, MODIFIED_ON, MODIFIED_USER_ID, MODIFIED_BY, SITE_TELEPHONE,
    WEB_ENABLED, MANAGER_PHONE, SERVICE_MANAGER_PHONE, SERVICE_MANAGER_QQ, MASTER_PHONE,
    COUNTRY_ID, COUNTRY, ORGANIZE_FROM, AUDIT_STATUS
  </sql>
  <select id="selectOrganizeById" parameterType="java.lang.String" resultMap="OrganizeResultMap">
    select
    <include refid="Organize_Column_List" />
    from BASE_ORGANIZE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectOrganizeAll"  resultMap="OrganizeResultMap">
    select
    <include refid="Organize_Column_List" />
    from BASE_ORGANIZE
  </select>
</mapper>